.topicPreviewContainer {
  margin: 30px;
}

.topicPreview {
  width: 300px;
  padding: 30px;
  padding-bottom: 50px;
  border-radius: 20px;
  margin-bottom: -15px;
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 20px;
  min-height: 370px;
}

.topicPreview:hover {
  padding-bottom: 70px;
  padding-top: 50px;
  min-height: 390px;
  background-color: rgba(0, 0, 0, 0.367);
}

.title {
  margin-top: 10px;
  margin-bottom: 80px;
}

.platformTitle {
  width: 50%;
  display: inline-block;
}

.platformTitle span {
  margin-right: 7px;
}

.count {
  width: 50%;
  display: inline-block;
  text-align: right;
}

.progress div {
  display: inline-block;
  border: 3px solid white;
  width: 85px;
  height: 85px;
  text-align: center;
  padding-top: 15px;
  border-radius: 50%;
  margin-top: -20px;
  margin-left: 5px;
  margin-right: 10px;
  font-size: 20px;
  background-color: rgb(13, 20, 22);
}

.cf {
  border-color: #3b5998 !important;
}

.lc {
  border-color: #f9a825 !important;
}

.hr {
  border-color: #1ba94c !important;
}

.progressPlatform {
  font-size: 10px;
  display: block;
  color: rgb(179, 179, 179);
}

@media only screen and (max-width: 500px) {
  .topicPreviewContainer {
    width: 100%;
  }
  .topicPreview {
    width: 90%;
    margin: auto;
  }
}
