.resourcesTable {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 30px;
  margin-top: 20px;
}

.resourceHeader {
  width: 650px;
}

.resourcesTable th,
.resourcesTable td {
  padding: 20px;
}

.resourcesTable input {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.625);
  margin: auto;
}

.openLink {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
  color: aquamarine;
}

.description {
  font-size: 13px;
  margin-top: 10px;
  color: rgb(188, 188, 188);
}

@media only screen and (max-width: 500px) {
  .resourcesTable {
    width: 95%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
