.problemsTable {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.problemsTable th,
.problemsTable td {
  padding: 20px;
}

.problemsTable input {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.625);
}

.problemsTable thead {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px;
}

.problemTitle {
  font-weight: 700;
  text-decoration: underline;
  transition: 0.2s;
}

@media only screen and (max-width: 500px) {
  .problemsTable {
    width: 95%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .problemsTable th,
  .problemsTable td {
    font-size: 15px;
    padding: 10px;
  }
}
