.signup {
  text-align: center;
}

.form {
  width: 500px;
  margin: auto;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 30px;
  padding: 30px;
  border-radius: 30px;
  margin-top: 30px;
}

.buttonContainer {
  text-align: center;
  margin-top: 30px;
}

.signupContainer {
  text-align: center;
  margin-top: 20px;
}

.signupContainer a {
  color: aquamarine;
  text-decoration: underline;
}

.msg {
  color: rgb(255, 98, 98);
}

@media only screen and (max-width: 500px) {
  .signup {
    padding-top: 50px;
  }
  .form {
    width: fit-content;
  }
}
