.footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.263);
  padding: 30px 30px 10px 30px;
  color: rgb(207, 207, 207);
  width: 100%;
}

.link {
  color: white;
  text-decoration: underline;
}
