.titleContainer {
  text-align: center;
  padding-top: 50px;
}

.main {
  margin-top: 50px;
  display: flex;
  flex-flow: wrap;
}

.subtitle {
  color: rgb(195, 195, 195);
  font-size: 20px;
}

.cardContainer {
  display: inline-block;
  margin-right: 50px;
  margin-left: 100px;
}

.problemsContainer {
  margin-top: 50px;
  display: none;
}

.problemsContainer.active {
  display: inline-block;
}

.resourcesContainer {
  margin-top: 50px;
  display: none;
}

.resourcesContainer.active {
  display: inline-block;
}

@media only screen and (max-width: 500px) {
  .cardContainer {
    margin-right: 20px;
    margin-left: 20px;
  }

  .problemsContainer {
    width: 100%;
  }

  .resourcesContainer {
    width: 100%;
  }
}
