.problems {
  width: 750px;
}

.platforms {
  margin-bottom: 20px;
  text-align: center;
  width: fit-content;
  margin: auto;
}

.platform {
  width: 150px;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

.platform a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 20px 20px 0;
}

.platform a p {
  margin-top: 10px;
  color: rgb(232, 232, 232);
  font-size: 13px;
}

.cf.active {
  background-color: #3b5998;
}

.lc.active {
  background-color: #c38420;
}

.hr.active {
  background-color: #12913f;
}

.problemsContainer {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 20px;
  border-radius: 20px;
}

.problemHeader {
  width: 600px;
  padding: 20px;
}

.problemsTable th {
  color: rgb(197, 197, 197);
}

@media only screen and (max-width: 500px) {
  .problems {
    width: 95%;
    margin: auto;
  }

  .platform {
    width: 110px;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
  }
}
